@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1A1A2E;
  color: white;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Para evitar el scroll horizontal */
  height: 100%;
  overflow: hidden;
}

/* Para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* Para otros navegadores */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.main-content {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  transition-duration: 30000ms; /* Ajusta este valor en milisegundos */
}

.section {
  scroll-snap-align: start;
  height: 100vh;
} 


